xsd/testdata/includes/child1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://example.com/parent"
           elementFormDefault="qualified">
    <xs:include schemaLocation="grandchild.xsd"/>

    <xs:element name="Child1Element" type="xs:string"/>
    <xs:complexType name="Child1Type">
        <xs:sequence>
            <xs:element name="Field" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
